.btnGarage,
.btnWinners {
  padding:5px 15px;
  background: blueviolet;
  margin: 5px;
}
.nav{
  padding: 20px 10px;
}
.btnPagination{
  background: blueviolet;
  padding: 3px 20px;
  margin: 5px;
  font-size: 20px;
}
.listPagination{
  display: flex;
  align-items: center;
}
.active{
  display: block;
}
li {
  display: none;
}