#garage {
  z-index: 2;
  visibility: visible;
  position: absolute;
}
#garage.notActive {
  z-index: -1;
  visibility: hidden;
}
.create,
.update,
.allBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  [type="text"],
  [type="submit"] {
    padding: 4px;
  }
  [type="text"] {
    width: 120px;
  }
  [type="submit"] {
    cursor: pointer;
  }
}
.allBtn {
  [type="submit"] {
    background: blueviolet;
    width: 100%;
  }
}
.inputs {
  margin-bottom: 50px;
  max-width: 230px;
}
.road {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30px);
  border-bottom: 1px dashed #fff;
  padding-left: 15px;
  padding-right: 150px;
}
.flag {
  font-size: 60px;
}
.carsTable {
  width: 100vw;
  margin-bottom: 20px;
}
.launch {
  width: inherit;
}
.btn,
.icon {
  background: #fff;
}
.car {
  display: flex;
}
.startIcon {
  background: #45ff45;
  padding: 3px;
}
.stopIcon {
  background: #ff4545;
  padding: 3px;
}
