#winners {
  z-index: 1;
  position: absolute;
  left: 0;
  padding: 0 20px;
}
#winners.active {
  z-index: 2;
  background: black;
  height: 95vh;
  width: 100vw;
}
table {
  width: 500px;
}
thead {
  background: blueviolet;
}
.listPaginationWinners {
  display: flex;
}
td {
  text-align: center;
}
